01abfc750a0c942167651c40d088531d
DEFINED_PHASES= configure
BDEPEND=  nls? ( >=dev-qt/linguist-tools-5.12.3:5 )  
DEPEND=  >=dev-qt/qtgui-5.12.3:5  >=dev-qt/qtxml-5.12.3:5  dbus? ( >=dev-qt/qtdbus-5.12.3:5 )   test? ( >=dev-qt/qtconcurrent-5.12.3:5 )  
RDEPEND=  >=dev-qt/qtgui-5.12.3:5  >=dev-qt/qtxml-5.12.3:5  dbus? ( >=dev-qt/qtdbus-5.12.3:5 )  
EAPI=7
IUSE=dbus nls 
KEYWORDS=amd64 ~arm arm64 x86
SLOT=5/5.64
SRC_URI=mirror://kde/stable/frameworks/5.64/kconfig-5.64.0.tar.xz
